*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("Desktop\ -\ 2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero{
  width: 100%;
  height: 100%;
  
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
}
.form-box{
width: 527px;
height: 896px;
flex-shrink: 0;
margin: auto;
padding: 15px;
border-radius: 38px;
background: rgba(41, 50, 55, 0.36);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
overflow: hidden;
}
.button-box{
  width: 300px;
 height: 52px;
 margin: 35px auto;
  position: relative;
  border-radius: 69px;
background: #D6D2D2;
}
.toggle-btn{
  padding: 10px 50px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #4f879e;
font-family: IBM Plex Sans Thai Looped;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 107.523%;
}
.toggle-btn1{
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  color: #4b879b;
font-family: IBM Plex Sans Thai Looped;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 107.523%;
}
#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 160px;
  height: 52px;
  border-radius: 69px;
  background: #073443;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: .5s;
}
.social-icon {
  margin: 10px 0;

}

.social-icon img {
  width: 50px; 
  height: 50px;
  margin: 10 12px;
  box-shadow: 0 0 20px 0 #7f7f7f3d;
  cursor: pointer;
  margin-top: 350px;
  margin-left: 90px;
  
  }
.input-group {
  top: 300px;
  position: absolute;
  width: 280px;
  transition: .5s;
  right: 95px;
  margin-left: 120px;
  

  
  
}
.input-field{
  width: 180px;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #E1DEDE;
  outline: none;
  background: transparent;
  font-family: IBM Plex Sans Thai Looped;
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: 107.523%;
  text-align: center;

}
.input-field::placeholder {
  color:  rgba(254, 254, 254, 0.35);
  

 

}
.submit-btn {
  position: relative;
  width: 150px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #073443;
  color: rgb(189, 220, 252);
  box-shadow: 0px 10px 10px #073443 inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px #073443 inset;
  cursor: pointer;
  outline: none;
  left : 30px;
  top: 60px;
}

.submit-btn::before {
  width: 80%;
  height: 40px;
  position: absolute;
  background-color: #073443;
}

.submit-btn::after {
  width: 80%;
  height: 2px;
  position: absolute;
}

      .submit-btn:hover {
        animation: jello-horizontal 0.9s both;
      }
      
      @keyframes jello-horizontal {
        0% {
          transform: scale3d(1, 1, 1);
        }
      
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
      
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
      
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
      
        65% {
          transform: scale3d(0.95, 1.05, 1);
        }
      
        75% {
          transform: scale3d(1.05, 0.95, 1);
        }
      
        100% {
          transform: scale3d(1, 1, 1);
        }
      }
  #log{
        left:50px
      }
      #sign{
        left:700px
        
      }
  h1 {
  color: #C9DCE6;
  font-family: IBM Plex Sans Thai;
  font-size: 36px;
  font-style: normal;
  font-weight: 1000;
  line-height: 200%;
  letter-spacing: 0.05em;
  padding: 20px;
  
text-align: center;
}
p{
  width: 324px;
height: 37px;
flex-shrink: 0;
color: rgba(175, 219, 228, 0.51);
font-family: IBM Plex Sans Thai Looped;
font-size: 20px;
font-style: normal;
font-weight: 10;
line-height: 107.523%;
text-align: right;
}

/* .cercle{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6a7477;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
nav {
  text-align: center;
}

nav a {
  display: inline-block;
  margin-right: 10px;
  color: #194848;
  text-decoration: none;
  font-weight: bold;
  border-radius: 69px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-family: IBM Plex Sans Thai Looped;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 107.523%;
  background: #D6D2D2;
  width: 100px;
  height: 32px;
}

nav a.active {
  color: #FFFBFB;
  background: #073443;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background: rgba(41, 50, 55, 0.36);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  width: 527px;
height: 896px;
  flex-shrink: 0;
}



.submit-btn {
  position: relative;
  width: 100px;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #073443;
  color: white;
  box-shadow: 0px 10px 10px #073443 inset, 0px 5px 10px rgba(5, 5, 5, 0.212), 0px -10px 10px #073443 inset;
  cursor: pointer;
  outline: none;
}

.submit-btn::before {
  width: 80%;
  height: 2px;
  position: absolute;
  background-color: #073443;
}

.submit-btn::after {
  width: 80%;
  height: 2px;
  position: absolute;
}

      .submit-btn:hover {
        animation: jello-horizontal 0.9s both;
      }
      
      @keyframes jello-horizontal {
        0% {
          transform: scale3d(1, 1, 1);
        }
      
        30% {
          transform: scale3d(1.25, 0.75, 1);
        }
      
        40% {
          transform: scale3d(0.75, 1.25, 1);
        }
      
        50% {
          transform: scale3d(1.15, 0.85, 1);
        }
      
        65% {
          transform: scale3d(0.95, 1.05, 1);
        }
      
        75% {
          transform: scale3d(1.05, 0.95, 1);
        }
      
        100% {
          transform: scale3d(1, 1, 1);
        }
      }*/